[submodule "lib/mangrovedao/semitransferable-token"]
	path = lib/mangrovedao/semitransferable-token
	url = git@github.com:mangrovedao/semitransferable-token.git
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
